/*************************
Base Styles
*************************/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Helvetica, Helvetica Neue, Arial;
    font-size: 16px;
    line-height: 26px;
    background-color: #67AAF9;
  }

  h1 {
      text-align: center;
  }

  h2 {
      text-align: center;
      font-size: 20px;
  }
  #imgs {
      text-align: center;
  }
  
  #imgs >img {
    padding: 10px;
  }

  #about {
      padding: 30px;
      background-color: gray;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  
  .header-container {
    border-bottom: 20px solid #0B132B;
  }
  
  .footer-container,
  .main aside {
    border-top: 20px solid #0B132B;
  }
  
  .header-container,
  .footer-container,
  .main aside {
    background: #67AAF9;
  }
  
  .title {
    color: white;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 120px;
  }
  
  nav a:hover,
  nav a:visited {
    color: black;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .main {
    padding: 30px 0;
  }
  
  .main article h1 {
    font-size: 2em;
  }
  
  .main aside {
    color: white;
    padding: 0px 5% 10px;
  }
  
  .footer-container footer {
    color: white;
    padding: 20px 0;
  }

  #bottom {
      text-align: center;
      margin-right: 550px;
  }

  @media only screen and (min-width: 480px){

  }

  @media only screen and (min-width: 768px),
  only screen and (min-width: 700px) and (orientation: landscape){
    #title{
        float: left;
        font-size: 1.4em;
    }

    nav {
        float: right;
        width: 60%;
    }

    nav a{
        padding: 15px 1%;
    }

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 38%;
    }

  }

/*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}